body {
    background: linear-gradient(153deg, rgba(171,87,255,1) 33%, rgba(255,248,91,1) 67%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}