body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(153deg, rgba(171,87,255,1) 33%, rgba(255,248,91,1) 67%);
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
}

.card {
    background: rgb(253, 253, 253, 70%);
    width: 40vw;
    height: 80vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.text {
    display: grid;
    margin: 10%;
    font-family: sans-serif;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    grid-row: 1;
}

img {
    display: inline;
    margin: 0 auto;
    height: 110%;
}

.name {
    font-size: 2.5em;
    display: grid;
    grid-row: 2;
    grid-column: 1;
}

.pronouns {
    font-size: 2.5em;
    display: grid;
    grid-row: 2;
    grid-column: 2;
    text-align: right;
}

.border {
    border-bottom: 10px solid black;
    grid-row: 3;
    grid-column: 1 / span 2;
}

.titles {
    font-size: 1.5em;
    display: grid;
    grid-row: 4;
    grid-column: 1;
}

.titles-right {
    font-size: 1.5em;
    display: grid;
    grid-row: 4;
    grid-column: 2;
    text-align: right;
}